.top-menu
  ._container._row.top-menu__row
    a.link.top-menu__logo-box(href="/")
      img.top-menu__logo(src="/svg/logo.svg" alt="logo")
    nav.top-menu__nav
      ul.top-menu__list
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Продажа
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Покупка
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Пользователи
    .top-menu__space
    .top-menu__right
      .top-menu__button-box
        label.button._s(for="clear") Отменить
      .top-menu__button-box
        label.button(for="submit") Сохранить