footer.footer
  ._container._row.footer__row
    .footer__item
      a.link(href="/")
        img.footer__logo(src="/svg/logo.svg" alt="logo")
    .footer__item._row
      .footer__col
        a.footer__link.link(href="#") Контакты
        a.footer__link.link(href="#") Партнерам
        a.footer__link.link(href="#") Застройщики
      .footer__col
        a.footer__link.link(href="#") Обратная&nbsp;связь
        a.footer__link.link(href="#") Услуги
        a.footer__link.link(href="#") Ипотека
    .footer__item
      .footer__text
        | ПАО Е-про. Генеральная лицензия Банка России &#8470;&nbsp;1481 от&nbsp;11.08.2015&nbsp;г. ООО &laquo;ЦНС&raquo;, Россия, Москва, 121170, Кутузовский проспект&nbsp;д.&nbsp;32&nbsp;к.&nbsp;1, ОГРН 1157746652150, ИНН 7736249247
    .footer__item
      a.link(href="#" target="_blank")
        img.footer__app(src=require('../../svg/app.svg') alt="App Store")