.top-menu
    ._container._row.top-menu__row
        a.link.top-menu__logo-box(href="/")
            img.top-menu__logo(src="/svg/logo.svg" alt="logo")
        nav.top-menu__nav
            ul.top-menu__list
                li.top-menu__item
                    a.link.top-menu__link(href="/#")
                        | Услуги
                li.top-menu__item
                    a.link.top-menu__link(href="/#")
                        | Застройщики
                li.top-menu__item
                    a.link.top-menu__link(href="/#")
                        | Ипотека
                li.top-menu__item
                    a.link.top-menu__link(href="/#")
                        | Контакты
        .top-menu__space
        .top-menu__right
            label.link.top-menu__link(for="modal-close")
                | Связаться с экспертом
            a.link.top-menu__link(href="/#")
                | Личный кабинет
            a.link.top-menu__icon._heart(href="/#")
            a.link.top-menu__icon._bell(href="/#")