.top-menu
  ._container._row.top-menu__row
    a.link.top-menu__logo-box(href="/")
      img.top-menu__logo(src="/svg/logo.svg" alt="logo")
    input.top-menu__checkbox#menu(type="checkbox")
    label.top-menu__button.top-menu__icon(for="menu")
      span._v-hidden Меню
      i.top-menu__button-icon
    nav.top-menu__nav
      label.top-menu__background(for="menu")
      label.top-menu__button._close(for="menu")
        i.top-menu__button-icon
      ul.top-menu__list
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Услуги
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Застройщики
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Ипотека
        li.top-menu__item
          a.link.top-menu__link(href="/#")
            | Контакты
        li.top-menu__item._space
        li.top-menu__item
          label.link.top-menu__link(for="modal-close")
            | Связаться с экспертом
    .top-menu__space
    .top-menu__right
      a.link.top-menu__icon._heart(href="/#")
        span._v-hidden Избранные
      a.link.top-menu__icon._user(href="/#")
        span._v-hidden Личный кабинет