extends layout/main

block top-menu
  include layout/_top-menu

block content
  include index/_header
  include index/_service
  include index/_attachment
  include index/_cost
  include index/_offers
  include index/_promotions
  include index/_rates
  include index/_additional

block footer
  include layout/_footer

block end
  include layout/_end