extends layout/main

block content
    ._container._row.product-page
        ._col-12
            .product-navigation
                p
                    |Главная
                p
                    |&gt;
                p
                    |Поиск
                p
                    |&gt;
                p
                    |3-комн.
                p
                    |&gt;	
                p
                    |Саларьево
            .product-name
                h2
                    |3-комн. квартира, 80 м2
        ._col-6
            .product-image
                img(src="https://via.placeholder.com/660x615")
                .img-info
                    ._col-3
                        h1
                            |3
                        p
                            |комн.
                    ._col-3
                        ._col-12
                            h1
                                |80
                            p
                                |м2
                        p
                            |площадь
                    ._col-3
                        ._col-12
                            h1
                                |16
                            p
                                |м2
                        p
                            |кухня
                    ._col-3
                        ._col-12
                            h1
                                |4
                            p
                                |из 7
                        p
                            |этаж
        ._col-2
            |слайдер
        ._col-4.product-place
            p
                |Шелепиха
            ._col-12.product-price
                h1
                    |24 855 000 ₽
                p
                    |289 011 ₽/м²
            ul
                li    
                    p
                        |Россия, Москва, Шелепихинская набережная, 34к2
                li    
                    p
                        |Шелепиха, 10 мин. пешком
                li    
                    p
                        |Ирина М.
            span.show-phone
                |Показать телефон
            .get-assessment 
                button.button
                    |ПОЛУЧИТЬ ЭКСПЕРТНУЮ ОЦЕНКУ 
                a.link.top-menu__icon._heart
            ._col-9.get-video
                span
                    |ПОЛУЧИТЬ ВИДЕОПРОСМОТР
        ._col-6.porduct-info
            h3
                |В цифрах
            div   
                .info-string  
                    p.second-p
                        |Жилая
                    p
                        |56 м2
                .info-string  
                    p.second-p
                        |Высота потолков
                    p
                        |4.3 м
                .info-string  
                    p.second-p
                        |Санузел
                    p
                        |совмещенный
                .info-string  
                    p.second-p
                        |Балкон
                    p
                        |1
                .info-string  
                    p.second-p
                        |Ремонт
                    p
                        |евро
                .info-string  
                    p.second-p
                        |Вид из окон
                    p
                        |во двор
        ._col-5._offset-1.porduct-info
            h3
                |Описание
            p
                |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis sit, praesentium quos repellendus reprehenderit ab minima consectetur rem necessitatibus. Quidem ea excepturi architecto ratione deserunt nulla officia aperiam debitis voluptatem?    
            p
                |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis sit, praesentium quos repellendus reprehenderit ab minima consectetur rem necessitatibus. Quidem ea excepturi architecto ratione deserunt nulla officia aperiam debitis voluptatem?
        ._col-12.location
            h3
                |Месторасположение
        ._col-12
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Add6bb26c22e386bacbce28bea785a1cb824be49f949ca981e3f6096b7002f9db&amp;width=100%25&amp;height=369&amp;lang=ru_RU&amp;scroll=true"></script>