extends layout/main

block content
    ._container._row.product-page
        ._col-12
            .product-navigation
                p
                    |Главная
                p
                    |&gt;
                p
                    |Поиск
                p
                    |&gt;
                p
                    |3-комн.
                p
                    |&gt;	
                p
                    |Саларьево
            .product-name
                h2
                    |3-комн. квартира, 80 м2
        ._col-6
            .product-image
                img(src="https://via.placeholder.com/660x615")
                .img-info
                    ._col-3
                        h1
                            |3
                        p
                            |комн.
                    ._col-3
                        ._col-12
                            h1
                                |80
                            p
                                |м2
                        p
                            |площадь
                    ._col-3
                        ._col-12
                            h1
                                |16
                            p
                                |м2
                        p
                            |кухня
                    ._col-3
                        ._col-12
                            h1
                                |4
                            p
                                |из 7
                        p
                            |этаж
        ._col-2
            |слайдер
        ._col-4.product-info
            p
                |Шелепиха
            ._col-12.product-price
                h1
                    |24 855 000 ₽
                p
                    |289 011 ₽/м²
            ul
                li    
                    p
                        |Россия, Москва, Шелепихинская набережная, 34к2
                li    
                    p
                        |Шелепиха, 10 мин. пешком
                li    
                    p
                        |Ирина М.
            span.show-phone
                |Показать телефон
            .get-assessment 
                button.button
                    |ПОЛУЧИТЬ ЭКСПЕРТНУЮ ОЦЕНКУ 
                a.link.top-menu__icon._heart
            ._col-9.get-video
                span
                    |ПОЛУЧИТЬ ВИДЕОПРОСМОТР      