.DCAttachement {
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  position: relative;
  z-index: 10;

  outline: 1px solid #828282;
  color: #1f3c44;

  .DC-button {
    padding: 13px 54px;
    margin-right: 19px;
    line-height: 16px;
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
  }

  input[type="file"]:focus + .DC-button {
    outline: 1px solid #ffffff;
    outline: -webkit-focus-ring-color auto 5px;
  }
}
