.additional {
  padding-top: 64px - 30;
  &__caption {
    font-size: 1.5rem;
    font-weight: normal;
  }
  &__item {
    max-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &__title {
    padding-bottom: 4px;
    color: #FF7373;
    font-size: 1.125rem;
    font-weight: 300;
  }
  &__price {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__text {
    padding-top: 15px;
  }
}