.attachment {
  background-color: #ebf5fb;
  &__container {
    padding-top: 77px - 15;
    padding-bottom: 117px - 15;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: -46px;
      left: 50%;
      right: 30px;
      bottom: 0;
      transform: translateX(15px);
      background-image: url(../img/attachment.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
    }
  }
  &__caption {
    padding: 15px 15px 16px;
  }
  &__text {
    font-size: 1.5rem;
    padding: 0 15px 72px - 15;
  }
  &__get-box {
    display: flex;
  }
  &__get {
    position: relative;
    width: 100%;
    height: 50px + 30;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
    &._gpl {
      max-width: 162px + 30;
      &:before {
        right: 0;
        background-image: url(../img/gpl.png);
      }
    }
    &._app {
      max-width: 146px + 30;
      &:before {
        background-image: url(../img/app.png);
      }
    }
  }
}