.footer {
  padding: 11px 0;
  background-color: #437289;
  color: #F2F2F2;
  &__row {
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__item {
    max-width: 350px;
    padding: 15px;
    box-sizing: border-box;
  }
  &__link {
    padding: 9px 22px 9px 15px;
    box-sizing: border-box;
    font-size: 0.75rem;
    font-weight: 700;
    color: #F2F2F2;
  }
  &__text {
    font-size: 0.75rem;
  }
}