.promotions {
  padding-top: 64px - 15;
  align-items: stretch;
  &__link {
    padding-left: 16px;
    font-size: 0.75rem;
    color: #8cc3e2;
    text-decoration: underline;
  }
  &__item {
    display: flex;
    flex-direction: column;
    min-height: 218px;
    height: 100%;
    background-color: #ebf5fb;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 0;
  }
  &__text {
    flex-grow: 1;
    padding: 8px 0 16px;
  }
}