.edit-input {
    max-width: 100%;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    &::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
    }
}

.apply-edit {
    display: flex;
    justify-content: space-between;
    & button {
        width: 200px;
        height: 44px;
        &:last-child{
            color: #3F3F3F;
            border: #E0E0E0;
            background: #E0E0E0;
            &:hover{
                background: #3F3F3F;
                color: #E0E0E0;    
            }
        }
    }
}
