from._container._row(action="/new-card/" method="POST")
  h1._col-12
    | Новый объект
  h3.add-card__caption._col-12
    | ФИО
  ._col-12
    input.input(type="text" name="name" placeholder="ФИО")
  h3.add-card__caption._col-12
    | Документы
  ._col-12
    input(type="file" name="files" multiple accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .xls, .xlsx, .xlsm")
  h3.add-card__caption._col-12
    | Оценочная стоимость объекта
  ._col-12
    input.input(type="number")
  h3.add-card__caption._col-12
    | Адрес
  ._col-12
    input.input(type="text" name="name" placeholder="Адрес")
  ._col-12
    iframe.map-info__frame(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2243.0407002126926!2d49.14050991977406!3d55.792531171705015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1594554153460!5m2!1sru!2sua" allowfullscreen="" aria-hidden="false" tabindex="0")
  h3.add-card__caption._col-12
    | Сделка
  ._col-12._col-md-6
    .add-card__title
      | Тип сделки
    .add-card__button-box._row
      input._hidden#tt1(type="radio" name="type-transaction" checked)
      label.button._s(for="tt1")
        | Продажа
      input._hidden#tt2(type="radio" name="type-transaction")
      label.button._s(for="tt2")
        | Аренда
  ._col-12._col-md-6
    .add-card__title
      | Вид недвижимости
    .add-card__button-box._row
      input._hidden#pt1(type="radio" name="property-type" checked)
      label.button._s(for="pt1")
        | Жилая
      input._hidden#pt2(type="radio" name="property-type")
      label.button._s(for="pt2")
        | Коммерческая
      input._hidden#pt3(type="radio" name="property-type")
      label.button._s(for="pt3")
        | Гараж
  ._col-12
    .add-card__title
      | Тип недвижимости
    .add-card__button-box._row
      input._hidden#tp1(type="radio" name="type-of-property" checked)
      label.button._s(for="tp1")
        | Квартира
      input._hidden#tp2(type="radio" name="type-of-property")
      label.button._s(for="tp2")
        | Комната
      input._hidden#tp3(type="radio" name="type-of-property")
      label.button._s(for="tp3")
        | Дом
      input._hidden#tp4(type="radio" name="type-of-property")
      label.button._s(for="tp4")
        | Таунхаус
      input._hidden#tp5(type="radio" name="type-of-property")
      label.button._s(for="tp5")
        | Часть дома
      input._hidden#tp6(type="radio" name="type-of-property")
      label.button._s(for="tp6")
        | Участок
  ._col-12
    .add-card__title
      | Лет в собственности
    .add-card__button-box._row
      input._hidden#yo1(type="radio" name="years-owned" checked)
      label.button._s(for="yo1")
        | Меньше 3-х
      input._hidden#yo2(type="radio" name="years-owned")
      label.button._s(for="yo2")
        | От 3-х до 5-ти
      input._hidden#yo3(type="radio" name="years-owned")
      label.button._s(for="yo3")
        | Больше 5-ти
  ._col-12._col-md-6
    .add-card__title
      | Собственники
    .add-card__button-box._row
      input._hidden#ow1(type="radio" name="owners" checked)
      label.button._s(for="ow1")
        | 1
      input._hidden#ow2(type="radio" name="owners")
      label.button._s(for="ow2")
        | 2
      input._hidden#ow3(type="radio" name="owners")
      label.button._s(for="ow3")
        | 3+
    label
      input(type="checkbox")
      | Есть несовершеннолетние
  ._col-12._col-md-6
    .add-card__title
      | Прописано
    .add-card__button-box._row
      input._hidden#pr1(type="radio" name="prescribed" checked)
      label.button._s(for="pr1")
        | 1
      input._hidden#pr2(type="radio" name="prescribed")
      label.button._s(for="pr2")
        | 2
      input._hidden#pr3(type="radio" name="prescribed")
      label.button._s(for="pr3")
        | 3+
    label
      input(type="checkbox")
      | Есть несовершеннолетние