section.attachment
  ._container._row.attachment__container
    ._col-12._col-lg-6._p-n
      h3.attachment__caption
        | Скачайте наше приложение
      .attachment__text
        | Совершайте сделки безопасно, легко
        br
        | и&nbsp;комфортно на&nbsp;кончиках пальцев
      .attachment__get-box
        a.link.attachment__get._gpl(href="#")
        a.link.attachment__get._app(href="#")