section.offers._container._row._p-t
  h3._col-12.offers__caption
    | Горячие предложения
  .offers__sub-caption._col-12
    | 1-комнатные
  ._col-12.swiper-container.swiper4#offers1
    .swiper-wrapper
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
    .swiper__btn-prev#offers1-prev
    .swiper__btn-next#offers1-next
  .flat__sub-caption._col-12
    | 2-комнатные
  ._col-12.swiper-container.swiper4#offers2
    .swiper-wrapper
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .flat__item._row
          .flat__top-img(style=`background-image: url(/img/offers1.jpg)`)
          .flat__line-img-box
            .flat__line-img(style=`background-image: url(/img/offers2.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers3.jpg)`)
            .flat__line-img(style=`background-image: url(/img/offers4.jpg)`)
            .flat__line-other 3
          .flat__bottom._row
            .flat__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .flat__owner Собственник
            .flat__cost-m
              | 112&nbsp;500&nbsp;₽
            .flat__info-box
              .flat__info-item._type
                | 1-комн. квартира
              .flat__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .flat__button-box
              a.button(href="/card.html") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
    .swiper__btn-prev#offers2-prev
    .swiper__btn-next#offers2-next