.service._container._row
  ._col-12._col-lg-4.service__item._i1
    | индивидуальный подход
    br
    | к&nbsp;каждому клиенту
  ._col-12._col-lg-4.service__item._i2
    | проведение
    br
    | безопасных сделок
  ._col-12._col-lg-4.service__item._i3
    | лучшее предложение
    br
    | для продажи и&nbsp;покупки