._container
    ._row
        ._col-12._col-md-6
            button.button(type="button") Button primary
        ._col-12._col-md-6
            button.button._s(type="button") Button secondary
        ._col-12._col-md-6
            input.input(type="mail" pattern="[abc]*" required placeholder="Input primary")
        ._col-12._col-md-6
            input.input._s(type="text" pattern="[abc]*" placeholder="Input secondary")