.DC-button-group {
	width: 100%;
	font-size: 16px;
	line-height: 19px;

	.DC-button:not(:last-child) {
		margin-right: 8px;
	}
}

.DC-button {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 30px;
	color: #828282;
	background-color: transparent;
	border: 1px solid #828282;
	box-sizing: border-box;
}

.DC-button:hover {
	cursor: pointer;
}

.DC-button.DC-button-active {
	background-color: #FF7373;
	color: #FFFFFF;
	border-color: #FF7373;
}

.DC-button.DC-button-rounded {
	border-radius: 4px;
}

