.registration-form {
  width: 800px;
  margin: 40px auto 0;
  &__steps-block {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .step-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .registration-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1.5px solid #828282;
        box-sizing: border-box;
        &__inside {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: #828282;
          span {
            text-align: center;
            color: #ffffff;
            font-size: 25px;
          }
        }
        .reg-active-cirlce__inside-active {
          background-color: #ff7373;
        }
      }
      .reg-active-cirlce {
        border: 1.5px solid #ff7373;
      }
      &__title {
        font-size: 14px;
        width: 140px;
        margin: 0 15px;
      }
    }
  }
  &__title {
    text-align: center;
    margin: 40px auto;
    font-size: 2em;
  }
  &__switch-role {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;
    span {
      font-size: 1.5em;
      color: #828282;
      padding: 15px 0 0;
    }
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label {
      cursor: pointer;
      width: 70px;
      height: 30px;
      background: grey;
      display: block;
      border-radius: 100px;
      position: relative;
    }
    label:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 25px;
      transition: 0.3s;
    }
    input:checked + label {
      background: #437289;
    }
    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
    label:active:after {
      width: 130px;
    }
  }
  &__form {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #828282;
    .agreement-field {
      margin: 30px 0;
      display: flex;
      justify-content: space-between;
      p {
        margin: 0 10px;
      }
    }
    .registration-btn {
      display: block;
      margin: 0 auto;
    }
  }
  &__sign-in {
    text-align: center;
  }
}
