.DCCheckbox {
  display: flex;
  align-items: center;
}

.DCCheckbox__size_default {
  label {
    font-size: 18px;
    line-height: 21px;
    padding-left: 15px;
  }
}

.DCCheckbox__size_small {
  margin-top: 16px;

  label {
    font-size: 10px;
    line-height: 12px;
    padding-left: 8px;
  }
}

.DCCheckbox_bold {
  label {
    font-weight: bold;
  }
}
